#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

export PYBUILD_NAME=vyatta-sssd
export PYBUILD_INSTALL_ARGS=--install-scripts=/opt/vyatta/sbin/

%:
	dh $@ --with=python2 --with=systemd --with=yang --buildsystem=pybuild
